.sectionContainer {
    margin-top: 90px;
    background-image: url("../../assets/images/house.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 575px;
    display: flex;
    align-items: center;  
    justify-content: center;  
}

.sectionDiv {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.catchPhrase {
    display: none;
}



@media (min-width: 1024px) {
    .sectionContainer {
        height: 750px;          
    }

    .catchPhrase {
        display: block;
    }

    .sectionDiv {
        justify-content: center;        
    }

    .sectionDiv > div:first-child {
        margin-right: 80px; 
        margin-left: -80px;   
    }
}


